body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ff1493 0%, #8b008b 100%); /* הרקע נשאר כפי שהיה */
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.todoapp {
    background: #ffe4e1; /* ורוד בהיר */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #ff1493; /* מסגרת ורודה */
}

.header {
    background: #ff1493; /* ורוד פוקסיה */
    color: white;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    text-transform: uppercase;
}

.header .new-todo {
    width: calc(100% - 20px);
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #c71585; /* ורוד כהה */
    border-radius: 5px;
    outline: none;
    background-color: #ffe4e1; /* ורוד בהיר */
    color: #c71585; /* ורוד כהה */
}

.header button {
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #c71585; /* ורוד כהה */
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header button:hover {
    background-color: #ff69b4; /* ורוד בהיר יותר */
    color: white;
}

.main {
    padding: 20px;
}

.todo-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.todo-list li {
    background: #c71585; /* ורוד כהה */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.todo-list li.completed {
    text-decoration: line-through;
    background: #ff69b4; /* ורוד בהיר יותר */
    color: white;
}

.todo-list .view {
    display: flex;
    align-items: center;
    width: 100%;
}

.todo-list .toggle {
    margin-right: 15px;
    transform: scale(1.3);
}

.todo-list label {
    flex-grow: 1;
    font-size: 16px;
    color: white;
}

.todo-list .destroy {
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6l-2 14H7L5 6h14zm-5-2V4H10v2H4h16H14z"></path></svg>') no-repeat center center;
    background-size: 20px;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: auto;
}

.destroy:hover {
    background-color: rgba(255, 105, 180, 0.3); /* ורוד בהיר חצי שקוף */
    border-radius: 50%;
}
